{%  extends '::layout/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <h2>Livraison</h2>
                <div id="collapseOne" class="accordion-body collapse in">
                    <div class="accordion-inner">
                        <div class="span4">
                            {% if utilisateur.adresses | length != 0 %}
                            <form action="{{ path('ecommerce_validation') }}" method="POST">
                                <h4>Adresse de livraison</h4>
                                {% for adresse in utilisateur.adresses %}
                                <label class="radio">
                                    <input type="radio" name="livraison" id="livraison" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked" {% endif %}>
                                    {{ adresse.adresse }},{{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }} <a href="{{ path('supprimmerAdresseLivraison',{'id':adresse.id})}}"><i class="icon-trash"></i></a><br/>
                                    {{ adresse.prenom }} {{ adresse.nom }}
                                </label>
                                {% endfor %}
                            <br/>
                                
                                <h4>Adresse de Facturation</h4>
                                {% for adresse in utilisateur.adresses %}
                                <label class="radio">
                                    <input type="radio" name="facturation" id="facturation" value="{{ adresse.id }}" {% if loop.index0 == 0 %}checked="checked" {% endif %}>
                                    {{ adresse.adresse }},{{ adresse.cp }} {{ adresse.ville }} - {{ adresse.pays }} <a href="#"><i class="icon-trash"></i></a><br/>
                                    {{ adresse.prenom }} {{ adresse.nom }}
                                </label>
                                {% endfor %}
                                <button class="btn btn-primary">Valider mon adresse de livraison</button>
                            </form>
                            {% endif %}
                        </div>


                        <div class="span4 offset2">
                            <h4>Ajouter une nouvelle adresse</h4>
                            <form method="POST" action="{{ path('ecommerce_livraison') }}">
                                {{ form(form) }}
                                <button type='submit' class="btn btn-primary">Ajouter</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}